@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Domine, sans-serif;
    color: rgb(61, 70, 84);
    font-weight: 300;
}

#squat-image {
    height: 600px;
    width: 100%;
    background: url('../assets/images/guy_strict_press.jpeg') no-repeat center center;
    
}