@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Domine, sans-serif;
    color: rgb(61, 70, 84);
    font-weight: 300;
}

#logo {
   text-align: center;
   font-size: 300%;
   letter-spacing: 6px;
}

#squat-image {
    height: 600px;
    width: 100%;
    background: url('../assets/images/mat_fraser_overhead.webp') no-repeat center center;
    
}

#menu {
    float: right;
}

.strict-press {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

  th, td {
    border: 1px solid black;
    padding: 10px;
    color: black;
  }
 

  #wods {
    background-image: url(../assets/images/kettlebell_panorama.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
 }

#wods div {
    color: #fafafa;
    background-color: rgb(0, 0, 0, 0.6);
    width: 20%;
    height: 300px;
    float: left;
    padding-top: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;

 }

 #famous_wods {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
  }

  div p {
    padding-top: 20px;
    padding-bottom: 10px;
}



 .social-networks {
  text-align: center;

}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

.form_section  {
    margin-top: 100px;
    color: whitesmoke;
    background-color: black;
    max-width: 400px;
    position: absolute;
    padding: 20px;
}

.img_form {
  width: 50%;
  height: 50%;
}


#footer {
  height: 150px;

}